body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.keyboard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 120px;
    letter-spacing: 20px;
    width: 80vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    color: white;
}

.lettersUsed{
    border: solid black 1px;
    height: 15vh;
    width: 35vw;
    color: white;
}

.word{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    display: flex; 
    justify-content: center;
    letter-spacing: 40px;
    height: 20vh;
    color: white;
}
